@font-face {
	font-family: "Milano";
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano.eot");
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano.woff") format("woff"),
	url("fonts/MTT Milano Family/Type Firm - MTT Milano.otf") format("opentype");
}

@font-face {
	font-family: "Milano";
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano Bold.eot");
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano Bold.woff") format("woff"),
	url("fonts/MTT Milano Family/Type Firm - MTT Milano Bold.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: "Milano";
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano BoldItalic.eot");
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano BoldItalic.woff") format("woff"),
	url("fonts/MTT Milano Family/Type Firm - MTT Milano BoldItalic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Milano";
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano UltraBold.eot");
	src: url("fonts/MTT Milano Family/Type Firm - MTT Milano UltraBold.woff") format("woff"),
	url("fonts/MTT Milano Family/Type Firm - MTT Milano UltraBold.otf") format("opentype");
	font-weight: 900;
}