.gallery {
    background-image: url('../images/menu_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gallery .panel-filter {
    transition: all 0.425s ease-in;
}

#gallery .section-is-filter {
    text-align: center;
    transition: all 0.425s ease-out;
}

#gallery .section-is-filter .list-filter {
    list-style: none;
    margin-bottom: 40px;
}

#gallery .section-is-filter .list-filter .filter-tab {
    display: inline-block;
    margin-right: 30px;
}

#gallery .section-is-filter .list-filter .filter-tab.filter-active {
    font-weight: bold;
    font-size: large;
    color: #000;
}

#gallery .section-is-filter .list-filter .filter-tab a {
    font-size: 16px;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
}

.gallery .panel-filter.fixed {
    position: relative;
}
.gallery .panel-filter.fixed:after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   min-height: 67px;
}
.gallery .panel-filter.fixed .section-is-filter{
    position: fixed;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 30;
}
.gallery .panel-filter.fixed .section-is-filter {
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: black;
}
.gallery .panel-filter.fixed .section-is-filter .list-filter {
    margin-bottom: 0 !important;
 }

@media screen and (max-width: 425px) {
    #gallery .section-is-filter .list-filter .filter-tab {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    #gallery .section-is-filter .list-filter .filter-tab a {
        font-size: 14px;
    }
    #gallery .section-is-filter .list-filter {
        margin-bottom: 20px;
    }
}

#gallery .section-is-filter .list-filter .filter-tab.filter-active a {
    color: #fff;
}

#gallery .section-is-content-wp .w-item {
    position: relative;
    overflow: hidden;
}

#gallery .section-is-content-wp .w-item .img-wp {
    transition: all 0.5s ease;
}

#gallery .section-is-content-wp .w-item .img-wp img {
    width: 100%;
    height: 352px;
    object-fit: cover;
}

.gallery .w-item .content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease-in-out;
}

.gallery .w-item .content-wrap .w-text {
    font-style: 34px;
    letter-spacing: 0.2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.75s ease-in-out;
}

.gallery .w-item:hover .img-wp {
    transform: scale(1.15);
}

.gallery .w-item:hover .content-wrap {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.55);
}

.gallery .w-item:hover .content-wrap .w-text {
    opacity: 1;
    transform: translateY(0);
}