.section {
    position: relative;
}
.section .intro {
    position: absolute;
    top: 10%;
}
.home_bg {
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
}

.home_bg_1 {
    background-image: url('../images/home/homepage-background-1.jpg');
}
.home_bg_2 {
    background-image: url('../images/home/homepage-background-2.jpg');
}
.home_bg_3 {
    background-image: url('../images/home/homepage-background-3.jpg');
}
.home_bg_4 {
    background-image: url('../images/home/homepage-background-4.jpg');
}

@media (max-width: 1440px) {
    #main-nav-container.open ul a {
        font-size: 32px;
        line-height: 1.75em;
    }
  }