/*
* = Main CSS
*/


/*
  * = Template and page styles
  */


/*
  * Global Styles
  */

  body {
    font-family: "Milano", sans-serif;
}

.full-height {
    height: 100vh;
}

.max-height {
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Scrollup */

.scrollup {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 1.3;
    font-size: 30px;
    color: #fff;
    text-align: center;
    z-index: 100;
    background-color: black;
    display: none;
}

/* Close Button */

.close-button {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
}

.close-button:before,
.close-button:after {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 35px;
    background: #FFFFFF;
    opacity: 0;
    left: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Heading */

.heading {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    padding-bottom: 5px;
} 
.heading::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
    height: 24px;
    width: 6px;
    background-color: #FA1205;
}

.heading::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
}
/* / Heading */

#main-nav-container .close-button:hover:before,
#main-nav-container .close-button:hover:after {
    background: #FA1205;
}

.open .close-button:before {
    opacity: 1;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .close-button:after {
    opacity: 1;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sprite {
    /* background: url("images/sprite.png") no-repeat 0 0; */
}

.show-on-mobile,
.show-on-phone {
    display: none;
}


/* Vertical Center */

.vertical-container {
    font-size: 0;
    height: 100%;
}

.vertical-container:before {
    /* content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;  */
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


/* Social Media */

.social-media {
    text-align: center;
}

.social-media a {
    display: inline-block;
}

.social-media a + a {
    margin-left: 30px;
}

.social-media .facebook {
    width: 12px;
    height: 24px;
    background-position: -120px 0;
}

.social-media .facebook:hover {
    background-position: -120px -24px;
}

.social-media .twitter {
    width: 26px;
    height: 21px;
    background-position: -132px 0;
}

.social-media .twitter:hover {
    background-position: -132px -21px;
}

.social-media .youtube {
    width: 20px;
    height: 24px;
    background-position: -158px 0;
}

.social-media .youtube:hover {
    background-position: -158px -24px;
}

.social-media .instagram {
    width: 21px;
    height: 21px;
    background-position: -178px 0;
}

.social-media .instagram:hover {
    background-position: -178px -21px;
}


/*
  * Header
  */

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    text-align: center;
    background-color: transparent;
    transition: all 200ms ease-in;
}

#header-container.is-background {
    background-color: black;
}
#header-container.header-dark {
    background-color: black;
}

#header-container h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 94px;
    letter-spacing: .2em;
}

#header-container h1 a {
    color: inherit;
    text-decoration: none;
}

#header {
    position: relative;
    height: 94px;
}

#header-logo {
    display: block;
    position: absolute;
    left: 35px;
    top: 60%;
    width: 73px;
    height: 53px;
    margin-top: -36px;
}

@media (min-width: 1366px) {    
    #header-logo {
        width: 93px;
        height: 73px;
        left: 42px;
        top: 68%;
    }
}

#header-logo img {
    width: 100%;
}

#hamburger {
    display: block;
    position: absolute;
    right: 35px;
    top: 50%;
    width: 27px;
    height: 18px;
    margin-top: -9px;
    background: rgba(0, 0, 0, 0.001);
}

#hamburger span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger span:first-child {
    top: 0;
}

#hamburger span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
}

#hamburger span:last-child {
    bottom: 0;
}

#hamburger:hover span {
    background: #FA1205;
}

#hamburger:hover span:first-child {
    transform: translateY(-1px);
}

#hamburger:hover span:last-child {
    transform: translateY(1px);
}


/* Main Nav */

#main-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 101;
    display: none;
    background: #000000 url("../images/menu_bg.png") no-repeat center center;
}

#main-nav-container ul a {
    font-family: "Milano", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0;
    letter-spacing: 0.17em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

#main-nav-container ul a:hover {
    color: #FA1205;
}

#main-nav-container .close-button {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 10;
}

#main-nav-container.open #main-links:after {
    left: 0;
    width: 100%;
}

#main-nav-container.open ul a {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

#main-nav-container.open .social-media a {
    opacity: 1;
}

#main-nav-container .social-media a {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out 0.2s;
    -moz-transition: opacity 0.8s ease-in-out 0.2s;
    -ms-transition: opacity 0.8s ease-in-out 0.2s;
    -o-transition: opacity 0.8s ease-in-out 0.2s;
    transition: opacity 0.8s ease-in-out 0.2s;
}

#main-nav {
    width: 450px;
    margin: 0 auto;
}

#main-links {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1440px) {
    #main-nav-container.open .main-links ul a {
        font-size: 32px;
        line-height: 1.75em;
    }
}

#main-links li.has-submenu {
    padding-left: 0;
}

#main-links:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    left: 50%;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-links .expand {
    position: relative;
    bottom: 12px;
    left: -8px;
    /* opacity: 0; */
    -webkit-transition: opacity 0.4s ease-in-out 0.05s;
    -moz-transition: opacity 0.4s ease-in-out 0.05s;
    -ms-transition: opacity 0.4s ease-in-out 0.05s;
    -o-transition: opacity 0.4s ease-in-out 0.05s;
    transition: opacity 0.4s ease-in-out 0.05s;
}

#main-nav-container.open #main-links .expand {
    opacity: 1;
}

/* #main-links .expand::after {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 12px;
    background-image: url('../images/icons/chevron-up.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#main-links .expand.expanded::after {
    background-image: url('../images/icons/chevron-down.png');
} */

#main-links .expand.expanded + .sub-main-links {
    display: block;
}

#main-links a {
    font-size: 50px;
    font-size: 3.125rem;
}

#main-links .sub-main-links {
    /* padding-left: 0px; */
    /* display: none; */
    transition: all 500ms ease-in-out;
}

#main-links .expand.expanded + .sub-main-links {
    display: block;
}

#main-links .sub-main-links a {
    font-size: 26px;
    font-weight: 300;
}

@media (max-width: 1440px) {
    #main-links a {
        font-size: 30px;
    }
    #main-links .sub-main-links a {
        font-size: 16px;
    }
}

#sub-links {
    margin-bottom: 40px;
}

#sub-links a {
    font-size: 27px;
    font-size: 1.6875rem;
}


/*
  * Main Content
  */

#main {
    padding-top: 94px;
}

.content-block {
    padding: 40px 0;
    background: #FFFFFF;
}


/*
  * Footer
  */

footer {
    padding: 30px 0;
}


/*
  * Accessories
  */


/*
  * OwlCarousel
  */
.accessories-wrap .accessories-item-wrap {
    color: red;
    position: relative;
    cursor: pointer;
}

.accessories-wrap .accessories-item-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.45s ease-in-out 0.15s;
    width: 100%;
    height: 100%;
}

.accessories-wrap .accessories-item-wrap:hover::before {
    transform: translateY(100%);
}

.owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    /* padding: 1rem; */
}

.owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}

/* .owl-carousel .owl-nav button.owl-next {
    background-image: url('../images/icons/arrow-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -40px;
}

.owl-carousel .owl-nav button.owl-prev {
    background-image: url('../images/icons/arrow-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -40px;
} */

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    display: none;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: transparent;
}
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}
.accessoriesdetail-slide.owl-carousel .owl-nav button.owl-prev.disabled,
.accessoriesdetail-slide.owl-carousel .owl-nav button.owl-next.disabled {
    visibility: hidden;
}
.accessoriesdetail-slide.owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 30px;
    background-image: url('../images/icons/arrow-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -12px;
    top: -48px;
}

.accessoriesdetail-slide.owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 30px;
    background-image: url('../images/icons/arrow-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -8px;
    top: -48px;
}


/* /OwlCarousel */

.accessoriesdetail-bg {
    /* background-image: url('../images/accessories/accessories_bg.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.accessoriesdetail-item {
    display: flex;
}

.accessoriesdetail-item-left {
    flex: 0 0 480px;
    max-width: 480px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 1440px) {    
    .accessoriesdetail-item-left {
        flex: 0 0 360px;
        max-width: 360px;
    }
}

.accessoriesdetail-item-leftcontent {}

.accessoriesdetail-item-image {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.accessoriesdetail-item-title {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.accessoriesdetail-item-image img {
    width: 100%;
}

.accessoriesdetail-wrap {
    flex: 0 0 calc(100% - 480px);
    max-width: calc(100% - 480px);
    background-color: transparent;
}

@media (max-width: 1440px) {    
    .accessoriesdetail-wrap {
        flex: 0 0 calc(100% - 360px);
        max-width: calc(100% - 360px);
    }
}

.accessoriesdetail-main {
    height: calc(100vh - 280px);
    display: flex;
    padding: 80px 70px;
}
.accessoriesdetail-back-to {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: url('../images/icons/arrow-left.png') no-repeat center;
    background-size: cover;
    opacity: 0.66;
    cursor: pointer;
}

.accessoriesdetail-back-to:hover {
    opacity: 1;
}

@media (min-width: 1366px) {    
    .accessoriesdetail-main {
        height: calc(100vh - 200px);
    }
}

.accessoriesdetail-main-image {
    flex: 0 0 30%;
    max-width: 30%;
}

.accessoriesdetail-main-image-wrap {
    height: 200px;
    border: 3px solid transparent;
}

.accessoriesdetail-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accessoriesdetail-main-content {
    flex: 0 0 70%;
    max-width: 70%;
    color: #FFF;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 15px;
}

.accessoriesdetail-main-content .accessoriesdetail-main-content-title {
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 600;
}

.accessoriesdetail-main-content .accessoriesdetail-main-content-title::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - 1.2) * 0.5em);
    /* margin-top: -1em; */
}

.accessoriesdetail-bottom {
    padding: 20px 60px;
}

.accessoriesdetail-slide .item {
    cursor: pointer;
    border: 3px solid transparent;
    height: 240px;
}

@media (max-width: 1366px) {    
    .accessoriesdetail-slide .item {
        height: 160px;
    }
}

.accessoriesdetail-lights .accessoriesdetail-slide .item, 
.accessoriesdetail-lights .accessoriesdetail-main-image-wrap {
    border-color: #aa0000;
}
.accessoriesdetail-steeringwheel .accessoriesdetail-slide .item,
.accessoriesdetail-steeringwheel .accessoriesdetail-main-image-wrap {
    border-color: #3da09d;
}
.accessoriesdetail-seat .accessoriesdetail-slide .item,
.accessoriesdetail-seat .accessoriesdetail-main-image-wrap {
    border-color: #8b3b3a;
}
.accessoriesdetail-wheel .accessoriesdetail-slide .item,
.accessoriesdetail-wheel .accessoriesdetail-main-image-wrap {
    border-color: #052c3b;
}


.accessoriesdetail-slide .item img {
    cursor: pointer;
    height: 100%;
    object-fit: cover;
}

.accessoriesdetail-main-content-title {
    font-size: 40px;
}

.auto img {
    width: 100%;
    height: 100%;
}


/* Accessories */

.accessories-dashboard {
    background-image: url('../images/accessories/accessories_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.accessories-dashboard .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.accessories {}

.accessories-wrap {
    height: 100vh;
}

.accessories-wrap > div {
    display: flex;
    align-items: center;
}

.accessories-item {
    text-align: center;
    color: #fff;
}

.accessories-wrap > div:not(:last-of-type) {
    border-right: 0.5px solid #fff;
}

.accessories-item .accessories-item-image {
    margin-bottom: 1em;
}

.accessories-item .accessories-item-image img {
    width: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accessories-item .accessories-item-title {
    font-size: 52px;
}

@media (max-width: 1440px) {
    .accessories-item .accessories-item-title {
        font-size: 40px;
    }
}


/* Masonry layout */

.grid-item {
    width: 33.33%;
    height: 560px;
    float: left;
    /* background: #D26; */
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
    margin: 0;
}

.grid-item--width2 {
    width: 25%;
}

.grid-item--width3 {
    width: 16.67%;
}

.grid-item--width4 {
    width: 8%;
}

.grid-item--height1 {
    height: 560px;
}

.grid-item--height2 {
    height: 450px;
}

.grid-item--height3 {
    height: 290px;
}

.grid-item img {
    object-fit: cover;
}


/* ---- static-banner ---- */


.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 30px;
  color: white;
  /* background: #A2C; */
  font-size: 22px;
  z-index: 2;
}

.auto-carousel .owl-stage-outer {
    /*height: 100vh;*/
}

.auto-carousel .item {
    height: 100vh;
    width: 100vw;
}

.auto-carousel .item img {
    height: 100%;
    object-fit: cover;
}

.auto-carousel.owl-carousel .owl-nav button.owl-prev,
.auto-carousel.owl-carousel .owl-nav button.owl-next {
    top: 50%;
    position: absolute;
    width: 36px;
    height: 56px;
}

.auto-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 72px;
}

.auto-pagecontent .auto-carousel .owl-dots {
    bottom: 10px;
}
.auto-pagecontent .auto-carousel .owl-nav .owl-prev {    
    left: 15px;
    background-image: url('../images/icons/chevron-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.auto-pagecontent .auto-carousel .owl-nav .owl-next {    
    right: 15px;
    background-image: url('../images/icons/chevron-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}


/* Auto detail */

.autoDetail-topcontent {
    position: relative;
}

.autoDetail-topcontent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoDetail-gallery .gallery-item {
    overflow: hidden;
    cursor: crosshair;
    position: relative;
}

.gallery-item_inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.gallery-item_inner .inner-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item_inner .inner-wrap .gallery-item_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 25px));
    font-style: 32px;
    color: #fff;
    transition: all ease-out 300ms 200ms;
    opacity: 0;
}
.autoDetail-gallery .gallery-item:hover .gallery-item_inner {
    opacity: 1;
}
.autoDetail-gallery .gallery-item:hover .gallery-item_text {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.autoDetail-gallery .gallery-item img {
    transition: all ease-out 300ms;
    object-fit: cover;
}

.autoDetail-gallery .gallery-item:hover img {
    transform: scale(1.26);
}

.autoDetail-gallery .gallery-item img {
    width: 100%;
    height: 50vh;
}


/* ****************** auto detail click******************** */

.detail {
    position: absolute;
}

.auto-detail-1 .detail.box-1 {
    top: 70%;
    left: 60%;
}

.auto-detail-1 .detail.box-2 {
    top: 42%;
    left: 42%;
}

.auto-detail-1 .detail.box-3 {
    top: 36%;
    left: 76%;
}

.auto-detail-2 .detail.box-1 {
    top: 33%;
    left: 51%;
}

.auto-detail-2 .detail.box-2 {
    top: 48%;
    left: 30%;
}

.auto-detail-2 .detail.box-3 {
    top: 56%;
    left: 71%;
}

.auto-detail-3 .detail.box-1 {
    top: 11%;
    left: 62%;
}

.auto-detail-3 .detail.box-2 {
    top: 28%;
    left: 37%;
}

.auto-detail-3 .detail.box-3 {
    top: 41%;
    left: 76%;
}

@media screen and (max-width: 720px) {
    .detail {
        display: none;
    }
}

.detail a {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    color: #FA1205;
    text-align: center;
    /* border: 3px solid #FA1205; */
    background: url("../images/icons/icon-view.png") no-repeat 0 0;
    background-size: cover;
    border-radius: 46px;
    background-clip: padding-box;
}

.detail a span {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.detail a span:before,
.detail a span:after {
    display: block;
    position: absolute;
    content: '';
    background: #FA1205;
}

.detail a span:before {
    width: 2px;
    height: 100%;
    top: 0;
    left: calc(50% - 1px);
}

.detail a span:after {
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    left: 0;
}

.detail:hover span {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.detail-box {
    opacity: 0;
    position: absolute;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    background: rgba(196, 5, 5, 0.84);
    z-index: 20;
}

.detail-box h5 {
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
}

.detail-box p,
.detail-box ul {
    margin: 40px 0 60px;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 2.4375rem;
}

.detail-box li {
    font-size: 19px;
    font-size: 1.1875rem;
}

.detail-box .close-button {
    margin: 0 auto;
}

.detail-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 40px;
}

.detail-box-content-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-top {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 30px 40px 24px;
    background-color: #000;
    color: #686868;
}

.social-media i {
    color: #686868;
    font-size: 24px;
}

.social-media i:hover {
    color: #FA1205;
    cursor: pointer;
}

.social-media i:not(:last-of-type) {
    margin-right: 15px;
}

/* Button */

.btn {
    border: 2px solid;
    color: #FA1205;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Milano" sans-serif;
    padding: 12px 20px;
    border-radius: 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1440px) {    
    .btn {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 14px;
    }
}

@media (max-width: 768px) {    
    .btn {
        padding: 8px 12px;
    }
}

.btn::before {
    content: '';
    width: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 500ms ease-in;
    background-color: #FA1205;    
    z-index: -1;
}
.btn:hover {
   color: #fff;
   background-color: transparent;
   border-color: #FA1205;
   box-shadow: none;
}
.btn.btn-primary:hover::before {
    width: 100%;
}
.btn-primary {
    background-color: transparent;
    border-color: #FA1205;
}

.btn-small {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 16px;
}

@media (max-width: 1440px) {    
    .btn.btn-small {
        font-size: 12px;
        line-height: 16px;
        padding: 8px 10px;
    }
}

@keyframes titleOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes widthMinToMax {
    from {width: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

.home-banner-subtitle {
    font-size: 36px; 
    color: #ed472e; 
    font-weight: bold; 
    margin-bottom: 20px;
    opacity: 0;
    word-break: break-all;
    animation: titleOpacity 0.7s forwards ease-in-out 2s;
    animation-iteration-count: 1;
}

@media (max-width: 1440px) {    
    .home-banner-subtitle {
        font-size: 28px; 
    }
}

@media (max-width: 768px) {    
    .home-banner-subtitle {
        font-size: 18px; 
    }
}

.home-banner-title {
    font-size: 50px; 
    color: white; 
    font-weight: bold; 
    opacity: 0;
    min-width: 100%;   
    animation: widthMinToMax 3s forwards ease-in-out 2.8s;
    animation-iteration-count: 1;
}

@media (min-width: 1366px) {    
    .home-banner-title {
        min-width: max-content;
    }
}

@media (max-width: 1440px) {    
    .home-banner-title {
        font-size: 36px; 
    }
}

@media (max-width: 768px) {    
    .home-banner-title {
        font-size: 26px; 
    }
}

.home-banner-button {   
    opacity: 0;
    animation: titleOpacity 0.5s forwards ease-in-out 3.7s;
    animation-iteration-count: 1;
}

/*  Gallery */

main.gallery {
    position: relative;
}
.gallery .gallery-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
}

.gallery .gallery-title:hover {    
    color: #FA1205;
}
.gallery .gallery-navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 94px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    padding: 20px 35px;
    padding-top: 10px;
    border-bottom: 2px solid #383838;
    z-index: 2;
    transition: all 0.35s ease;
    opacity: 0;
}
.gallery .gallery-navigation.is-show {
    opacity: 1;
}
.gallery .gallery-navigation:hover {
    background-color: #000;
}

.gallery .gallery-navigation .gallery-navigation-left {
    background: url('../images/icons/chevron-left.png') no-repeat center;
}
.gallery .gallery-navigation .gallery-navigation-right {
    background: url('../images/icons/chevron-right.png') no-repeat center;    
}
.gallery .gallery-navigation .gallery-navigation-left,
.gallery .gallery-navigation .gallery-navigation-right {
    display: inline-block;
    width: 30px;
    height: 50px;
    background-size: contain;
    cursor: pointer;
    opacity: 0.066;
    transition: all 0.68s ease;
}
.gallery .gallery-navigation:hover .gallery-navigation-left,
.gallery .gallery-navigation:hover .gallery-navigation-right {
    opacity: 1;
}

/*  News */
.news {
    padding-top: 120px;
    padding-bottom: 50px;
}
.news .news-item {
    position: relative;
}
.news-item img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-item .news-item-title {
    font-size: 26px;
    line-height: 32px;
}
.news-item .news-item-title a {
    color: #fff;
}
.news-item .news-box-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.33);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: content-box;
}
.news-item .news-item-shorstdecription {
    font-size: 16px;
    color: #fff;
}
.news .main-news {
    margin-bottom: 40px;
}
.news .main-news .news-item .news-image {
    height: 600px;
}
.news .main-news .news-item .news-item-title {
    font-weight: 700;
}
.news .main-news a {
    color: #fff;
}
.news .sub-news .news-image {
    height: 300px;
}
.news .sub-news .news-item {
    margin-bottom: 30px;
}

@media screen and (max-width: 1366px) {
    .news .main-news {
        margin-bottom: 30px;
    }
}

/* News detail */
.news-detail {
    padding-top: 94px;
}
.news-detail-wrap-content {
    padding-top: 30px;
}
.news-detail-wrap-content p {
    margin-bottom: 20px;
}
.news-detail-title {
    padding-top: 10px;
    font-size: 36px;
    font-weight: bold;
}
.news-detail-wrap-content .content-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}
.news-detail-wrap-content .content-img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }
.news-detail-wrap-content .content-img img {
   width: 750px;
   height: 500px;
   margin-bottom: 6px;
}
.news-detail-wrap-content .content-img-title {
   font-style: italic;
}
.news-detail-postat .postat-time {
    font-style: italic;
    font-style: 14px;
}
.news-detail .news-detail-image {
    width: 100%;
    height: 600px;
}
.news-detail .news-detail-image img {
    width: 100%;
    height: 100%;
}